nav {
    font-weight: 300;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;

}


#title {
    display: flex;
    font-weight: 600;
    justify-content: left;
}

.container-flex {
    display: flex;
    justify-content: space-around;

}

body {
    background: linear-gradient(rgb(52, 143, 217), rgb(148, 5, 5), rgb(183, 183, 209), rgb(31, 21, 219), pink);
   

}



#top-card {
    font-size: x-large;
    font-weight: 700;
    font-style: oblique;
}

.card-img-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    padding-bottom: 10%;


}


h3,#btn-go{
 display: flex;
 justify-content: center;
 

}

#btn-go{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 500;
   
}


h1{
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}